<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/contact.css"/>
		<link rel="stylesheet" type="text/css" href="../css/public.css"/>
		<link rel="shortcut icon" href="../img/logo_03.jpg"/>
		<title>关于我们</title>
	</head>
	<body>
		<!-- 页面 -->
		<div class="warp warp-width">
			<!-- 头部导航 -->
			<div class="header">
				<div class="pub-width">
					<h1 class="logo fl">
						<a href="index.html">
							<img src="../img/index_03.gif" >
						</a>
					</h1>
					<div class="nav fl">
						<ul>
							<li>
								<a href="../index.html">企业首页</a>
							</li>
							<li>
								<a href="about.html">关于我们</a>
							</li>
							<li>
								<a href="news.html">新闻中心</a>
							</li>
							<li>
								<a href="product.html">产品中心</a>
							</li>
							<li>
								<a href="service.html">客户服务</a>
							</li>
							<li>
								<a href="contact.html" class="active">联系我们</a>
							</li>
						</ul>
					</div>
					<div class="language fl">
						<button type="button" class="active">CN</button>
						<button type="button">EN</button>
					</div>
				</div>
			</div>
			<!-- 主体 -->
			<div class="content warp-width">
				<!-- banner图 -->
				<div class="banner">
					<ul>
						<li>
							<a href="#">
								<img src="../img/banner_04.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../img/banner_02.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../img/banner_03.jpg" alt="">
							</a>
						</li>
					</ul>
					<div class="sub-nav">
						<span></span>
						<span class="active"></span>
						<span></span>
						<span></span>
					</div>
					<span class="next"></span>
					<span class="prev"></span>
				</div>
				<!-- 内容 -->
				<div class="sidebar">
					<div class="sidebar-left fl">
						<div>
							<h3>
								<p>CONTACT US</p>
								<p>联系我们</p>
							</h3>
							<p>Carefully Create</p>
							<p>And</p>
							<p><span>Elaborate Service</span></p>
							<p>精心创造精心服务</p>
						</div>
						<div class="search">
							<h3>
								<p>SEARCH</p>
								<p>搜索</p>
							</h3>
							<input type="text"/>
						</div>
					</div>
					<div class="sidebar-right fl">
						<div class="current">
							<h3>联系我们 <span>CONTACT US</span></h3>
							<p>您当前的位置 &gt; 首页  &gt; <span>联系我们</span></p>
						</div>
						<div class="content">
							<iframe src="./map.html" width="945" height="294" frameborder="0" scrolling="no"></iframe>
							<div class="input">
								<div class="input-left fl">
									<h3>给我留言</h3>
									<div>
										<p>姓名：</p><input type="text" />
									</div>
									<div>
										<p>邮箱：</p><input type="text" />
									</div>
									<div>
										<p>留言：</p><textarea rows="" cols=""></textarea>
									</div>
									<div>
										<button type="button">提交</button><button type="button">重置</button>
									</div>
								</div>
								<div class="input-right fl">
									<h3>联系方式</h3>
									<p>地址：广州市天河区大观南路26号（长胜商务大厦D栋）</p>
									<p>手机：13434316048</p>
									<p>QQ：332857028</p>
									<p>邮箱：332857028@qq.com</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 脚部 -->
			<div class="footer">
				<div class="foo-top pub-width">
					<div class="all fl">
						<div>
							<h3>
								<a href="about.html">关于我们</a>
							</h3>
							<ul>
								<li>
									<a href="about.html">公司简介</a>
								</li>
								<li>
									<a href="about.html">企业文化</a>
								</li>
								<li>
									<a href="about.html">企业荣誉</a>
								</li>
								<li>
									<a href="about.html">资格认证</a>
								</li>
								<li>
									<a href="about.html">研发生产</a>
								</li>
							</ul>
						</div>
						<div>
							<h3>
								<a href="about.html">产品中心</a>
							</h3>
							<ul>
								<li>
									<a href="about.html">饮水机</a>
								</li>
								<li>
									<a href="about.html">冰箱</a>
								</li>
								<li>
									<a href="about.html">洗衣机</a>
								</li>
								<li>
									<a href="about.html">空调</a>
								</li>
								<li>
									<a href="about.html">其他产品</a>
								</li>
							</ul>
						</div>
						<div>
							<h3>
								<a href="about.html">新闻中心</a>
							</h3>
							<ul>
								<li>
									<a href="view/about.html">最新动态</a>
								</li>
								<li>
									<a href="view/about.html">企业新闻</a>
								</li>
								<li>
									<a href="view/about.html">行业新闻</a>
								</li>
								<li>
									<a href="view/about.html">热点聚焦</a>
								</li>
							</ul>
						</div>
						<div>
							<h3>
								<a href="view/about.html">客户服务</a>
							</h3>
							<ul>
								<li>
									<a href="view/about.html">招商加盟</a>
								</li>
								<li>
									<a href="view/about.html">购买流程</a>
								</li>
								<li>
									<a href="view/about.html">售后服务</a>
								</li>
								<li>
									<a href="view/about.html">技术支持</a>
								</li>
								<li>
									<a href="view/about.html">常见问题</a>
								</li>
							</ul>
						</div>
						<div>
							<h3>
								<a href="view/about.html">联系我们</a>
							</h3>
							<ul>
								<li>
									<a href="view/about.html">在线留言</a>
								</li>
								<li>
									<a href="view/about.html">网上咨询</a>
								</li>
								<li>
									<a href="view/about.html">联系我们</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="address fl">
						<p>
							<input type="text" placeholder="请输入您的姓名" class="border"/>
							<input type="text" placeholder="请输入您的联系方式" class="border"/>
						</p>
						<p>
							<textarea placeholder="请输入您的留言" class="border"></textarea>
						</p>
						<p>
							<button type="button" class="border">提交</button>
						</p>
					</div>
				</div>
				<div class="foo-bot">
					<p>
						Copyright&copy;2016Wenfun.com Al1 Rights Reserved Design by WenCun 粤ICP备13005446号-1
					</p>
				</div>
			</div>
		</div>
	</body>
</html>


