<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/news_details.css"/>
		<link rel="stylesheet" type="text/css" href="../css/public.css"/>
		<link rel="shortcut icon" href="../img/logo_03.jpg"/>
		<title>新闻中心</title>
	</head>
	<body>
		<!-- 页面 -->
		<div class="warp warp-width">
			<!-- 头部导航 -->
			<div class="header">
				<div class="pub-width">
					<h1 class="logo fl">
						<a href="index.html">
							<img src="../img/index_03.gif" >
						</a>
					</h1>
					<div class="nav fl">
						<ul>
							<li>
								<a href="../index.html">企业首页</a>
							</li>
							<li>
								<a href="about.html">关于我们</a>
							</li>
							<li>
								<a href="news.html" class="active">新闻中心</a>
							</li>
							<li>
								<a href="product.html">产品中心</a>
							</li>
							<li>
								<a href="service.html">客户服务</a>
							</li>
							<li>
								<a href="contact.html">联系我们</a>
							</li>
						</ul>
					</div>
					<div class="language fl">
						<button type="button" class="active">CN</button>
						<button type="button">EN</button>
					</div>
				</div>
			</div>
			<!-- 主体 -->
			<div class="content warp-width">
				<!-- banner图 -->
				<div class="banner">
					<ul>
						<li>
							<a href="#">
								<img src="../img/banner_04.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../img/banner_02.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../img/banner_03.jpg" alt="">
							</a>
						</li>
					</ul>
					<div class="sub-nav">
						<span></span>
						<span class="active"></span>
						<span></span>
						<span></span>
					</div>
					<span class="next"></span>
					<span class="prev"></span>
				</div>
				<!-- 内容 -->
				<div class="sidebar">
					<div class="sidebar-left fl">
						<div>
							<h3>
								<p>NEWS CENTER</p>
								<p>新闻中心</p>
							</h3>
							<ul>
								<li class="active"><a href="#">最新动态&gt;&gt;</a></li>
								<li><a href="#">企业新闻&gt;&gt;</a></li>
								<li><a href="#">行业新闻&gt;&gt;</a></li>
								<li><a href="#">热点聚焦&gt;&gt;</a></li>
							</ul>
						</div>
					</div>
					<div class="sidebar-right fl">
						<div class="current">
							<h3>最新动态 <span>LATEST NEWS</span></h3>
							<p>您当前的位置 &gt; 首页  &gt; 新闻中心 &gt;<span>最新动态</span></p>
						</div>
						<div class="content">
							<h3>正品控宣言：让商品拥有独一无二的身份证</h3>
							<div class="msg">
								<div>
									<p>2016-03-12</p><p>08：00</p><p>来源中国家电网</p><p>崔冬惠</p>
								</div>
								<div>
									<p>分享到:</p>
									<a href="#">
										<p>朋友圈</p>
									</a>
									<a href="#">
										<p>QQ空间</p>
									</a>
									<a href="#">
										<p>新浪微博</p>
									</a>
									<a href="#">
										<p>腾讯微博</p>
									</a>
								</div>
							</div>
							<div class="container">
								<p>今天，中国家电及消费电子博览会(Appliance&electronics World Expo，简称AWE)圆满落幕，展会吸引了包括消费电子、智能家电、白色家电、厨房电器、生活电器、环境家电及家电配件等多品类的家电制造商参加，也为致力于向家电企业提供优质服务的创业者们搭建了展示自己的平台。记者在逛展时遇到杭州沃朴物联科技有限公司CEO袁涌耀先生，拥有无限创业激情的他向记者介绍了公司的主打产品——正品控动态智能防伪标签。下面，就是见证高科技的时刻啦，且看记者为您秀一下正品控的神奇之处。</p>
								<img src="../img/pro.jpg" alt="">
								<p class="center">正品控动态智能标签成品展示</p>
								<p class="bold">售前防伪让消费者购物更放心</p>
								<p>众所周知，企业做防伪的目的应该是让消费者放心购物，同时还能保护品牌的溢价能力。然而，由于商品上的防伪标签是纯静态信息，容易假冒或被不法人士刮掉，导致消费者无法通过防伪标签准确判断所购商品是否属于假冒伪劣产品。而且，通常传统的防伪标签属于售后防伪，并不能真正帮助消费者辨别真假，也让企业对这种没有价值的回报进行无谓的投入。</p>
								<p>正品控的动态智能标签则颠覆了传统的静态防伪技术，采用金融级安全标准的Token芯片技术，将动态码通过不可逆的国密级算法进行加密， 每个标签上动态码的初始规则不同，在一定的规则下，每次出现的数字皆不相同，芯片里的算法和正品控APP的算法识别是一致的，以保证没法被复制或仿冒。<span class="bold">简而言之，正品控动态智能标签会成为商品独一无二的身份证。</span></p>
								<img src="../img/pro2.jpg" alt="">
								<p class="center">应用正品控的家电产品</p>
								<p>此外，针对不同的产品，正品控提供的多种智能芯片能够充分满足企业设计需求，也让消费者更加快速获取商品信息。</p>
								<p class="bold">为企业建立和消费者互动的通道</p>
								<p>通过智能防伪，让企业建立和消费者互动的通道, 每一次用正品控验伪，企业都可以获取到潜在消费者的最优质的商业点击信息，如消费者验了哪个型号的产品、在哪个地区、什么时间验的、什么类型的手机、是否是新用户等；基于后台对这些数据的分析等，建立直达消费者的通道，方便企业和消费者交流。</p>
								<p>同时，能够零成本实时防窜货功能，让企业管控商品流向和使用情况。具体表现就是由于消费者认可了智能防伪标签和服务，那么企业就能联合消费者切入渠道商的核心链，渠道商就不敢破坏该标签，也就无法进行窜货了。</p>
								<p>对于消费者关心的售后问题是如何解决的呢？企业集成售后服务能够解决保修卡难保管、上门维修不知免保期限等痛苦，从而实现商品的生命周期管理，也让消费者拥有了一位贴心“小助手”。</p>
								<p>由此可见，通过一个简单的售前防伪标签，让企业的每个商品都能成为连接消费者的入口，还能获取消费者的喜好，从而有望打造超出用户期望的产品。</p>
								<p class="bold">创造前所未有的快捷购物体验</p>
								<p>俗话说：“百闻不如一见”，就让同为消费者的我来亲身体验一次。</p>
								<p>第一步：打开APP扫描智能防伪标签。</p>
								<p>第二步：验证商品是否属于正品。</p>
								<p>第三步：查看商品详情、确认购买意向。</p>
								<p>记者只用几秒钟就做到对商品信息的全面掌握，并能迅速做出购买决定哦。如果您是在线下门店看中商品，进行验伪保证正品后，便可放心付钱拿货。如果您在线上购物，选择货到付款方式，等快递把货送上门，拿到货后进行验伪保证正品后，再放心付钱也不迟......</p>
							</div>
							<div class="page">
								<a href="#">
									<p>上一篇：美的焖香鼎釜IH智能电饭煲全球首发</p>
								</a>
								<a href="#">
									<p>下一篇：2016年中国家电发展高峰论坛文字实录</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 脚部 -->
			<div class="footer">
				<div class="foo-top pub-width">
					<div class="all fl">
						<div>
							<h3>
								<a href="about.html">关于我们</a>
							</h3>
							<ul>
								<li>
									<a href="about.html">公司简介</a>
								</li>
								<li>
									<a href="about.html">企业文化</a>
								</li>
								<li>
									<a href="about.html">企业荣誉</a>
								</li>
								<li>
									<a href="about.html">资格认证</a>
								</li>
								<li>
									<a href="about.html">研发生产</a>
								</li>
							</ul>
						</div>
						<div>
							<h3>
								<a href="about.html">产品中心</a>
							</h3>
							<ul>
								<li>
									<a href="about.html">饮水机</a>
								</li>
								<li>
									<a href="about.html">冰箱</a>
								</li>
								<li>
									<a href="about.html">洗衣机</a>
								</li>
								<li>
									<a href="about.html">空调</a>
								</li>
								<li>
									<a href="about.html">其他产品</a>
								</li>
							</ul>
						</div>
						<div>
							<h3>
								<a href="about.html">新闻中心</a>
							</h3>
							<ul>
								<li>
									<a href="view/about.html">最新动态</a>
								</li>
								<li>
									<a href="view/about.html">企业新闻</a>
								</li>
								<li>
									<a href="view/about.html">行业新闻</a>
								</li>
								<li>
									<a href="view/about.html">热点聚焦</a>
								</li>
							</ul>
						</div>
						<div>
							<h3>
								<a href="view/about.html">客户服务</a>
							</h3>
							<ul>
								<li>
									<a href="view/about.html">招商加盟</a>
								</li>
								<li>
									<a href="view/about.html">购买流程</a>
								</li>
								<li>
									<a href="view/about.html">售后服务</a>
								</li>
								<li>
									<a href="view/about.html">技术支持</a>
								</li>
								<li>
									<a href="view/about.html">常见问题</a>
								</li>
							</ul>
						</div>
						<div>
							<h3>
								<a href="view/about.html">联系我们</a>
							</h3>
							<ul>
								<li>
									<a href="view/about.html">在线留言</a>
								</li>
								<li>
									<a href="view/about.html">网上咨询</a>
								</li>
								<li>
									<a href="view/about.html">联系我们</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="address fl">
						<p>
							<input type="text" placeholder="请输入您的姓名" class="border"/>
							<input type="text" placeholder="请输入您的联系方式" class="border"/>
						</p>
						<p>
							<textarea placeholder="请输入您的留言" class="border"></textarea>
						</p>
						<p>
							<button type="button" class="border">提交</button>
						</p>
					</div>
				</div>
				<div class="foo-bot">
					<p>
						Copyright&copy;2016Wenfun.com Al1 Rights Reserved Design by WenCun 粤ICP备13005446号-1
					</p>
				</div>
			</div>
		</div>
	</body>
</html>

