<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/product.css"/>
		<link rel="stylesheet" type="text/css" href="../css/public.css"/>
		<link rel="shortcut icon" href="../img/logo_03.jpg"/>
		<title>产品中心</title>
	</head>
	<body>
		<!-- 页面 -->
		<div class="warp warp-width">
			<!-- 头部导航 -->
			<div class="header">
				<div class="pub-width">
					<h1 class="logo fl">
						<a href="index.html">
							<img src="../img/index_03.gif" >
						</a>
					</h1>
					<div class="nav fl">
						<ul>
							<li>
								<a href="../index.html">企业首页</a>
							</li>
							<li>
								<a href="about.html">关于我们</a>
							</li>
							<li>
								<a href="news.html">新闻中心</a>
							</li>
							<li>
								<a href="product.html" class="active">产品中心</a>
							</li>
							<li>
								<a href="service.html">客户服务</a>
							</li>
							<li>
								<a href="contact.html">联系我们</a>
							</li>
						</ul>
					</div>
					<div class="language fl">
						<button type="button" class="active">CN</button>
						<button type="button">EN</button>
					</div>
				</div>
			</div>
			<!-- 主体 -->
			<div class="content warp-width">
				<!-- banner图 -->
				<div class="banner">
					<ul>
						<li>
							<a href="#">
								<img src="../img/banner_04.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../img/banner_02.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../img/banner_03.jpg" alt="">
							</a>
						</li>
					</ul>
					<div class="sub-nav">
						<span></span>
						<span class="active"></span>
						<span></span>
						<span></span>
					</div>
					<span class="next"></span>
					<span class="prev"></span>
				</div>
				<!-- 内容 -->
				<div class="sidebar">
					<div class="sidebar-left fl">
						<div>
							<h3>
								<p>PRODUCTION</p>
								<p>产品中心</p>
							</h3>
							<ul>
								<li><a href="#">饮水机&gt;&gt;</a></li>
								<li><a href="#">冰箱&gt;&gt;</a></li>
								<li><a href="#">洗衣机&gt;&gt;</a></li>
								<li><a href="#">空调&gt;&gt;</a></li>
								<li class="active"><a href="#">其他&gt;&gt;</a></li>
							</ul>
						</div>
						<div class="search">
							<h3>
								<p>SEARCH</p>
								<p>搜索</p>
							</h3>
							<input type="text"/>
						</div>
					</div>
					<div class="sidebar-right fl">
						<div class="current">
							<h3>产品中心 <span>PRODUCTION</span></h3>
							<p>您当前的位置 &gt; 首页  &gt; <span>产品中心</span></p>
						</div>
						<div class="content">
							<div class="pro">
								<div>
									<a href="pro_details.html">
										<div>
											<span>微波炉-MA323BFS</span>
										</div>
									</a>
									<a href="#">
										<div>
											<span>微波炉-MA323BFS</span>
										</div>
									</a>
									<a href="#">
										<div>
											<span>微波炉-MA323BFS</span>
										</div>
									</a>
								</div>
								<div>
									<a href="#">
										<div>
											<span>微波炉-MA323BFS</span>
										</div>
									</a>
									<a href="#">
										<div>
											<span>微波炉-MA323BFS</span>
										</div>
									</a>
									<a href="#">
										<div>
											<span>微波炉-MA323BFS</span>
										</div>
									</a>
								</div>
								<div>
									<a href="#">
										<div>
											<span>微波炉-MA323BFS</span>
										</div>
									</a>
									<a href="#">
										<div>
											<span>微波炉-MA323BFS</span>
										</div>
									</a>
									<a href="#">
										<div>
											<span>微波炉-MA323BFS</span>
										</div>
									</a>
								</div>
								<div>
									<a href="#">
										<div>
											<span>微波炉-MA323BFS</span>
										</div>
									</a>
									<a href="#">
										<div>
											<span>微波炉-MA323BFS</span>
										</div>
									</a>
									<a href="#">
										<div>
											<span>微波炉-MA323BFS</span>
										</div>
									</a>
								</div>
							</div>
							<div class="page">
								<a href="#">
									<div><p>&lt;上一页</p></div>
								</a>
								<a href="#">
									<div class="active"><p>1</p></div>
								</a>
								<a href="#">
									<div><p>2</p></div>
								</a>
								<a href="#">
									<div><p>3</p></div>
								</a>
								<a href="#">
									<div><p>4</p></div>
								</a>
								<a href="#">
									<div><p>5</p></div>
								</a>
								<a href="#">
									<div><p>...</p></div>
								</a>
								<a href="#">
									<div><p>下一页&gt;</p></div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 脚部 -->
			<div class="footer">
				<div class="foo-top pub-width">
					<div class="all fl">
						<div>
							<h3>
								<a href="about.html">关于我们</a>
							</h3>
							<ul>
								<li>
									<a href="about.html">公司简介</a>
								</li>
								<li>
									<a href="about.html">企业文化</a>
								</li>
								<li>
									<a href="about.html">企业荣誉</a>
								</li>
								<li>
									<a href="about.html">资格认证</a>
								</li>
								<li>
									<a href="about.html">研发生产</a>
								</li>
							</ul>
						</div>
						<div>
							<h3>
								<a href="about.html">产品中心</a>
							</h3>
							<ul>
								<li>
									<a href="about.html">饮水机</a>
								</li>
								<li>
									<a href="about.html">冰箱</a>
								</li>
								<li>
									<a href="about.html">洗衣机</a>
								</li>
								<li>
									<a href="about.html">空调</a>
								</li>
								<li>
									<a href="about.html">其他产品</a>
								</li>
							</ul>
						</div>
						<div>
							<h3>
								<a href="about.html">新闻中心</a>
							</h3>
							<ul>
								<li>
									<a href="view/about.html">最新动态</a>
								</li>
								<li>
									<a href="view/about.html">企业新闻</a>
								</li>
								<li>
									<a href="view/about.html">行业新闻</a>
								</li>
								<li>
									<a href="view/about.html">热点聚焦</a>
								</li>
							</ul>
						</div>
						<div>
							<h3>
								<a href="view/about.html">客户服务</a>
							</h3>
							<ul>
								<li>
									<a href="view/about.html">招商加盟</a>
								</li>
								<li>
									<a href="view/about.html">购买流程</a>
								</li>
								<li>
									<a href="view/about.html">售后服务</a>
								</li>
								<li>
									<a href="view/about.html">技术支持</a>
								</li>
								<li>
									<a href="view/about.html">常见问题</a>
								</li>
							</ul>
						</div>
						<div>
							<h3>
								<a href="view/about.html">联系我们</a>
							</h3>
							<ul>
								<li>
									<a href="view/about.html">在线留言</a>
								</li>
								<li>
									<a href="view/about.html">网上咨询</a>
								</li>
								<li>
									<a href="view/about.html">联系我们</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="address fl">
						<p>
							<input type="text" placeholder="请输入您的姓名" class="border"/>
							<input type="text" placeholder="请输入您的联系方式" class="border"/>
						</p>
						<p>
							<textarea placeholder="请输入您的留言" class="border"></textarea>
						</p>
						<p>
							<button type="button" class="border">提交</button>
						</p>
					</div>
				</div>
				<div class="foo-bot">
					<p>
						Copyright&copy;2016Wenfun.com Al1 Rights Reserved Design by WenCun 粤ICP备13005446号-1
					</p>
				</div>
			</div>
		</div>
	</body>
</html>

